PORT=3000

DATABASE_URL=

JWT_SECRET=

ESPN_API_URL=https://site.api.espn.com/apis/site/v2
ESPN_CORE_API_URL=https://sports.core.api.espn.com/v2
ESPN_LEAGUE=eng.1
ESPN_COUNTRY=England
ESPN_LEAGUE_LOGO=https://a.espncdn.com/i/leaguelogos/soccer/500/23.png
