PORT=3000

DATABASE_URL=

JWT_SECRET=

FRONTEND_URL=http://localhost:3001

EMAIL_PROVIDER=smtp
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASSWORD=
EMAIL_FROM=MatchPredict <matchpredict.app@gmail.com>

ESPN_API_URL=https://site.api.espn.com/apis/site/v2
ESPN_CORE_API_URL=https://sports.core.api.espn.com/v2
ESPN_LEAGUE=eng.1
ESPN_COUNTRY=England
ESPN_LEAGUE_LOGO=https://a.espncdn.com/i/leaguelogos/soccer/500/23.png
